* {
  background-color: #f5f5f5;
}

h1 {
  color: #548383;
  font-size: 3em;
}

p {
  font-size: 1.2em;
  line-height: 1.1em;
  color: #acc2c2;
}

strong {
  color: #dab08c;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li span {
  float: left;
  width: 110px;
  margin: 0 10px 0 0;
  background-color: #dab08c;
  padding: 5px 8px;
  border-radius: 5px;
  border: solid #666666 2px;
  font-size: 1em;
  cursor: pointer;
}

#lastYearIncome{
  clear:both;
  margin: 2% 0;
  width: 110px;
}

#income, #calculate {
  visibility:hidden;
}

.step {
  font-family: sans-serif;
  font-size: 2em;
  padding: 1%;
  clear: both;
}


.city-buttons {
  display: block;
  clear: right;
}

#four p{
  font-size: .6em;
  color: black;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
